body{
    background-color: #EEF9BF;
}
body > :nth-child(1){
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.game{
    padding-left: 76px;
    padding-right: 76px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.cardBack{
    width: 117px;
    height: 146px;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 17px 17px 17px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardBack img{
    width: 100px;
    height: 100px;
}
.individual {
    display: none;
}
.cardFront .front {
    display: none;
}
.cardFront .individual{
    display: block;
}
.permaFront .front {
    display: none;
}
.permaFront .individual{
    display: block;
}
.displayNone{
    display: none;
}
